In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [13]:
# first 5 & last 5  rows of the dataset
credit_card_data.head()
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [15]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [16]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

This Dataset is highly unblanced
0 --> Normal Transaction

1 --> fraudulent transaction

In [17]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [18]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [19]:
# statistical measures of the data
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [20]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [21]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [22]:
#Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions
#Number of Fraudulent Transactions --> 492

In [23]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [24]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [25]:
new_dataset.head()
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
916,692,1.236646,0.306499,0.190288,0.497587,-0.136113,-0.553196,-0.011583,-0.045015,-0.229983,...,-0.255791,-0.765166,0.073434,-0.037838,0.236204,0.097069,-0.026258,0.017657,1.98,0.0
2084,1607,1.322146,-1.362007,0.035150,-1.194412,0.506479,4.490399,-2.047060,1.228523,0.638672,...,-0.601266,-0.930808,0.038233,1.069372,0.303423,1.089495,0.028291,0.014662,10.00,0.0
542,406,-1.645009,-2.090799,1.592567,-1.388853,1.732899,-1.631059,-0.922859,0.013814,1.760777,...,0.248155,0.415496,0.293294,-0.463425,-0.405175,-0.924103,0.006586,0.018683,46.68,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [26]:
new_dataset['Class'].value_counts()
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1676.45122,-0.276053,0.357654,0.839905,-0.001386,0.013035,0.045727,0.109555,-0.164661,0.052112,...,0.030247,0.015596,-0.070534,-0.068225,0.041761,0.099880,-0.042045,0.044537,-0.000843,52.530711
1.0,439.00000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

Splitting the data into Features & Targets

In [27]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [28]:
print(X)
print(Y)

      Time        V1        V2        V3        V4        V5        V6  \
2240  1773  1.163333  0.179325  0.243720  0.734215 -0.442714 -1.059791
1004   758  1.152071  0.119097  0.515410  1.480148 -0.443249 -0.406771
2826  2402  1.299864  0.064514  0.036668  0.033658  0.137641  0.120748
1257   972  1.142910  0.190771  1.285610  2.595766 -0.569463  0.456425
186    123  0.968784 -0.501798 -1.333558  0.388804  2.036091  3.661714
...    ...       ...       ...       ...       ...       ...       ...
916    692  1.236646  0.306499  0.190288  0.497587 -0.136113 -0.553196
2084  1607  1.322146 -1.362007  0.035150 -1.194412  0.506479  4.490399
542    406 -1.645009 -2.090799  1.592567 -1.388853  1.732899 -1.631059
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
2240  0.130850 -0.199456  0.071311  ... -0.001089 -0.262100 -0.880216
1004 -0.041662  0.056781  0.512394  ... -0.315695 -0.102444 -0.124814
2826 -0.068175 -0.017412  0.069062  ...  0.018712 -0.259509 -0.601974
1257 -0.572937  0.211889  0.186526  ... -0.141453 -0.118423 -0.220950
186  -0.236795  0.809586  0.154501  ...  0.271697 -0.091052 -0.561280
...        ...       ...       ...  ...       ...       ...       ...
916  -0.011583 -0.045015 -0.229983  ... -0.047607 -0.255791 -0.765166
2084 -2.047060  1.228523  0.638672  ... -0.382482 -0.601266 -0.930808
542  -0.922859  0.013814  1.760777  ...  0.564246  0.248155  0.415496
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
2240  0.089701  0.334309  0.189252  0.090582 -0.034093  0.038536   49.99
1004  0.002774  0.376727  0.567602 -0.326992  0.030923  0.014867    2.49
2826 -0.106903 -0.773716  0.491430  0.496811 -0.040737 -0.009093    4.00
1257 -0.026753 -0.158161  0.356538 -0.010547  0.038437  0.031605   10.86
186  -0.260983  1.017700  0.837225 -0.342889 -0.003467  0.039004  160.86
...        ...       ...       ...       ...       ...       ...     ...
916   0.073434 -0.037838  0.236204  0.097069 -0.026258  0.017657    1.98
2084  0.038233  1.069372  0.303423  1.089495  0.028291  0.014662   10.00
542   0.293294 -0.463425 -0.405175 -0.924103  0.006586  0.018683   46.68
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]
2240    0.0
1004    0.0
2826    0.0
1257    0.0
186     0.0
       ...
916     0.0
2084    0.0
542     0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

In [31]:
model = LogisticRegression()
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [32]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Training data :  1.0
Accuracy on Test data :  1.0